<:Title>
  Bindings

<:Body>
  <h1>Bindings</h1>

  <table class="table">
    <tr>
      <td>Page</td>
      <td><input type="text" id="pageName1" value="{page._name}"></td>
      <td><input type="text" id="pageName2" value="{page._name}"></td>
      <td id="pageName3">{page._name}</td>
    </tr>
    <tr>
      <td>Params</td>
      <td><input type="text" id="paramsName1" value="{params._name}"></td>
      <td><input type="text" id="paramsName2" value="{params._name}"></td>
      <td id="paramsName3">{params._name}</td>
    </tr>
    <tr>
      <td>Routes</td>
      <td><input type="text" id="routesName1" value="{params._route_test}"></td>
      <td><input type="text" id="routesName2" value="{params._route_test}"></td>
      <td id="routesName3">{params._route_test}</td>
    </tr>
  </table>
