<:Title>
  {{ template main_path, "title", {controller_group: 'main'} }} - KitchenSink

<:Body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <:nav href="/" text="Home" />
        <:nav href="/bindings" text="Bindings" />
        <:nav href="/todos" text="Todos" />
        <:nav href="/flash" text="Flash" />
        <:nav href="/cookie_test" text="Cookies" />
        <:nav href="/store" text="Store" />
        <:user-templates:menu />
      </ul>
      <h3 class="text-muted">Project name</h3>
    </div>

    <:volt:notices />

    {{ template main_path, 'body', {controller_group: 'main'} }}

    <div class="footer">
      <p>&copy; Company 2014</p>
    </div>

  </div>

<:Nav>
  <li class="{{ if active_tab? }}active{{ end }}">
    <a href="{{ attrs.href }}">{{ attrs.text }}</a>
  </li>

