source 'https://rubygems.org'

# Specify your gem's dependencies in <%=config[:name]%>.gemspec
gemspec

# Optional Gems for testing/dev

# The implementation of ReadWriteLock in Volt uses concurrent ruby and ext helps performance.
gem 'concurrent-ruby-ext', '~> 0.8.0'

# Gems you use for development should be added to the gemspec file as
# development dependencies.