module <%=config[:name].gsub(/^volt[-]/, '').gsub('-', '_').split("_").map {|s| s.capitalize }.join("") %>
  class IndexController < ModelController
    model :page
    
    attr_accessor :data
    
    def initialize(data)
      @data = data
    end
  end
end