<:Title>
  Users Test

<:Body>
  <h1>Users Test</h1>


  <h2>Signup</h2>
  <form e-submit="signup">
    <:fields:text value="{{ _username }}" />
    <:fields:text value="{{ _password }}" />

    <button>Signup</button>
  </form>

  <hr />

  <h2>Login</h2>

  <form e-submit="login">
    <:fields:text value="{{ page._login._username }}" />
    <:fields:text value="{{ page._login._password }}" />

    <button>Login</button>
  </form>

  <hr />

  <button e-click="login">Login</button><button e-click="logout">Logout</button>

  {{ if Volt.user }}
    {{ Volt.user._username }}<br />
    {{ Volt.user._name }}
  {{ end }}