.logo1 {
  width: 129px;
  height: 50px;
  background: asset-url('../images/volt-logo.jpg') no-repeat center center;
}

.logo2 {
  width: 129px;
  height: 50px;
  background: asset-url('main/assets/images/volt-logo.jpg') no-repeat center center;
}
