<!DOCTYPE html>
<html>
  <%# IMPORTANT: Please read before changing!                                   %>
  <%# This file is rendered on the server using ERB, so it does NOT use Volt's  %>
  <%# normal template system. You can add to it, but keep in mind the template  %>
  <%# language difference. This file handles auto-loading all JS/Opal and CSS.  %>
  <head>
    <meta charset="UTF-8" />
    <% javascript_files.each do |javascript_file| %>
      <script src="<%= javascript_file %>"></script>
    <% end %>

    <% css_files.each do |css_file| %>
      <link href="<%= css_file %>" media="all" rel="stylesheet" type="text/css" />
    <% end %>
  </head>
  <body>

  </body>
</html>
