source 'https://rubygems.org'

gem 'volt', '<%= config[:version] %>'

# Twitter bootstrap
gem 'volt-bootstrap'

# Needed at the moment
gem 'opal', git: 'https://github.com/opal/opal.git'
gem 'opal-jquery', :git => 'https://github.com/opal/opal-jquery.git'
gem 'sockjs', git: 'https://github.com/kacperk/sockjs-ruby.git', require: false, platforms: :mri
