<:Body>
  {{ if page._reloading }}
    <div class="notices alert alert-info">Reloading...</div>
  {{ end }}
  {{ if channel.status == :reconnecting }}
    <div class="notices alert alert-info">
      Connection Lost... {{ channel.error }}...
      {{ if channel.reconnect_interval }}  Reconnecting in {{ (channel.reconnect_in / 1000.0).round }} sec{{ end }}
    </div>
  {{ end }}
  {{ if page._reconnected }}
    <div class="notices alert alert-success">Reconnected!</div>
  {{ end }}
  {{ flash.keys.each do |key| }}
    {{ if flash.send(:"_#{key}").present? }}
      <div class="notices alert alert-{{ map_key_class(key) }}" e-click="flash.clear">
        {{ flash.send(:"_#{key}").each do |notice| }}
          <p>{{ notice }}</p>
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
