<:Body>
  {{ if page._reloading }}
    <div class="notices alert alert-info">Reloading...</div>
  {{ end }}
  {{ if channel.status == :reconnecting }}
    <div class="notices alert alert-info">
      Connection Lost... {{ channel.error }}...
      {{ if channel.reconnect_interval }}  Reconnecting in {{ (channel.reconnect_interval / 1000.0).round }} sec{{ end }}
    </div>
  {{ end }}
  {{ if page._reconnected }}
    <div class="notices alert alert-success">Reconnected!</div>
  {{ end }}
  {{ if !flash.empty? }}
    <div class="notices alert alert-info" e-click="flash.clear">
      {{ flash._notices.each do |notice| }}
        <p>{{ notice }}</p>
      {{ end }}
    </div>
  {{ end }}
