<:Title>
  {#template params._controller.or('home') + '/' + params._action.or(''), "title"}

<:Body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <:nav controller="" text="Home" />
        <:nav controller="about" text="About" />
      </ul>
      <h3 class="text-muted">Project name</h3>
    </div>

    <:volt:notices />

    {#template params._controller.or('home') + '/' + params._action.or('')}

    <div class="footer">
      <p>&copy; Company 2014</p>
    </div>

  </div>


<:Nav>
  <li class="{#if params._controller.or('') == @controller}active{/}">
    <a href="/{@controller}">{@text}</a>
  </li>

